<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/82a73f3c-4efb-49b5-bc9f-0511fc28b12a/resourceGroups/aks-workshop/providers/Microsoft.ContainerRegistry/registries/aksworkshop</ResourceId>
    <ResourceName>aksworkshop</ResourceName>
    <ResourceGroup>aks-workshop</ResourceGroup>
    <Subscription>MCAPS-Hybrid-REQ-49330-2022-yagizalican</Subscription>
    <RegistryUrl>https://aksworkshop.azurecr.io</RegistryUrl>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d5606f39-99c8-4f87-980c-89d087d115fe</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <AutoGenerateImageTag>true</AutoGenerateImageTag>
  </PropertyGroup>
</Project>